@font-face {
    font-family: 'Swanley Free';
    src: url('./Swanley Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Swanley Free', sans-serif;
    background-color: black;
    color: white;
}
body p {
    font-family: 'poppins', Arial, sans-serif;
    font-weight: lighter;
    font-size: smaller;
    color: whitesmoke
}
body h1, h2, h3, h4, h5, h6 {
    font-family: 'Swanley Free', sans-serif;
    margin: 0;
    padding: 0;
}